:root {
  /* Cyan */
  --cyan-50: theme(colors.cyan.50);
  --cyan-100: theme(colors.cyan.100);
  --cyan-200: theme(colors.cyan.200);
  --cyan-300: theme(colors.cyan.300);
  --cyan-400: theme(colors.cyan.400);
  --cyan-500: theme(colors.cyan.500);
  --cyan-600: theme(colors.cyan.600);
  --cyan-700: theme(colors.cyan.700);
  --cyan-800: theme(colors.cyan.800);
  --cyan-900: theme(colors.cyan.900);
  --cyan-950: theme(colors.cyan.950);

  /* Neutral */
  --neutral-50: theme(colors.neutral.50);
  --neutral-100: theme(colors.neutral.100);
  --neutral-200: theme(colors.neutral.200);
  --neutral-300: theme(colors.neutral.300);
  --neutral-400: theme(colors.neutral.400);
  --neutral-500: theme(colors.neutral.500);
  --neutral-600: theme(colors.neutral.600);
  --neutral-700: theme(colors.neutral.700);
  --neutral-800: theme(colors.neutral.800);
  --neutral-900: theme(colors.neutral.900);
  --neutral-950: theme(colors.neutral.950);

  /* Red */
  --red-50: theme(colors.red.50);
  --red-100: theme(colors.red.100);
  --red-200: theme(colors.red.200);
  --red-300: theme(colors.red.300);
  --red-400: theme(colors.red.400);
  --red-500: theme(colors.red.500);
  --red-600: theme(colors.red.600);
  --red-700: theme(colors.red.700);
  --red-800: theme(colors.red.800);
  --red-900: theme(colors.red.900);
  --red-950: theme(colors.red.950);

  /* Lime */
  --lime-50: theme(colors.lime.50);
  --lime-100: theme(colors.lime.100);
  --lime-200: theme(colors.lime.200);
  --lime-300: theme(colors.lime.300);
  --lime-400: theme(colors.lime.400);
  --lime-500: theme(colors.lime.500);
  --lime-600: theme(colors.lime.600);
  --lime-700: theme(colors.lime.700);
  --lime-800: theme(colors.lime.800);
  --lime-900: theme(colors.lime.900);
  --lime-950: theme(colors.lime.950);
}

.dark {
  /* Cyan */
  --cyan-50: theme(colors.cyan.950);
  --cyan-100: theme(colors.cyan.900);
  --cyan-200: theme(colors.cyan.800);
  --cyan-300: theme(colors.cyan.700);
  --cyan-400: theme(colors.cyan.600);
  --cyan-500: theme(colors.cyan.500);
  --cyan-600: theme(colors.cyan.400);
  --cyan-700: theme(colors.cyan.300);
  --cyan-800: theme(colors.cyan.200);
  --cyan-900: theme(colors.cyan.100);
  --cyan-950: theme(colors.cyan.50);

  /* Neutral */
  --neutral-50: theme(colors.neutral.950);
  --neutral-100: theme(colors.neutral.900);
  --neutral-200: theme(colors.neutral.800);
  --neutral-300: theme(colors.neutral.700);
  --neutral-400: theme(colors.neutral.600);
  --neutral-500: theme(colors.neutral.500);
  --neutral-600: theme(colors.neutral.400);
  --neutral-700: theme(colors.neutral.300);
  --neutral-800: theme(colors.neutral.200);
  --neutral-900: theme(colors.neutral.100);
  --neutral-950: theme(colors.neutral.50);

  /* Red */
  --red-50: theme(colors.red.950);
  --red-100: theme(colors.red.900);
  --red-200: theme(colors.red.800);
  --red-300: theme(colors.red.700);
  --red-400: theme(colors.red.600);
  --red-500: theme(colors.red.500);
  --red-600: theme(colors.red.400);
  --red-700: theme(colors.red.300);
  --red-800: theme(colors.red.200);
  --red-900: theme(colors.red.100);
  --red-950: theme(colors.red.50);

  /* Lime */
  --lime-50: theme(colors.lime.950);
  --lime-100: theme(colors.lime.900);
  --lime-200: theme(colors.lime.800);
  --lime-300: theme(colors.lime.700);
  --lime-400: theme(colors.lime.600);
  --lime-500: theme(colors.lime.500);
  --lime-600: theme(colors.lime.400);
  --lime-700: theme(colors.lime.300);
  --lime-800: theme(colors.lime.200);
  --lime-900: theme(colors.lime.100);
  --lime-950: theme(colors.lime.50);
}
