@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../styles/colors.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.4s ease, color 0.4s ease;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
